/* Réinitialise les propriétés de mise en forme de base pour tous les éléments, Supprime les marges extérieures et les rembourrages à zéro.
Définit la boîte de dimensionnement pour inclure les bordures.
Supprime les puces ou les numéros de liste pour tous les éléments de liste.   */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
   
  
  
  /* Définit une largeur maximale de 1400 pixels pour le corps de la page et centre le contenu horizontalement en utilisant des marges automatiques à gauche et à droite. */
  body {
    max-width: 1400px;
    margin: 0 auto;
  }
  
  /*- Propriétés personnalisées -*/
  
  :root {
    --main-color: #0065FC; /* Définit une variable '--main-color' pour stocker la couleur bleue principale */
    --light-blue: #deebff;
    --grey: #d9d9d9;
    --main-bg-color: #f2f2f2;
    --black: rgba(0, 0, 0, 1);
  }
  
  
  
  
  /****************************************- HEADER -***************************************/
  
  /*Style du haut de la page (header) avec une marge de 0 pixels en 
  haut, 55 pixels à droite, 37 pixels en bas, et 55 pixels à gauche.*/

  header {
    margin: 0px 55px 37px 55px;
  }
  
  
  
  /***************************************-  Navbar -***************************************/
  
  nav {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    flex-direction: row; /* Les éléments sont disposés horizontalement */
    justify-content: space-between; /* Espace égal entre les éléments */
    align-items: flex-start; /* Les éléments sont alignés en haut */
}

.nav__logo {
    display: flex; /* Utilisation de flexbox pour aligner les éléments verticalement */
    align-items: center; /* Les éléments sont centrés verticalement */
}

.nav__logo img {
    width: 65px; /* Largeur spécifique pour l'image */
    height: 20px; /* Hauteur spécifique pour l'image */
}


nav ul {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    align-items: end; /* Alignement des éléments en bas */
    flex-direction: row; /* Les éléments sont disposés horizontalement */
    height: 100px; /* Hauteur spécifique pour la liste non ordonnée */
}

nav {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    flex-direction: row; /* Les éléments sont disposés horizontalement */
    justify-content: space-between; /* Espace égal entre les éléments */
    align-items: flex-end; /* Les éléments sont alignés en bas */
    height: 100px; /* Hauteur spécifique de la barre de navigation */
}

nav li {
    position: relative; /* Position relative pour permettre le positionnement absolu des pseudo-éléments */
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    justify-content: center; /* Les éléments sont centrés horizontalement */
    align-items: center; /* Les éléments sont centrés verticalement */
    width: 150px; /* Largeur spécifique pour chaque élément de liste */
    height: 100%; /* Hauteur égale à 100% */
    text-align: center; /* Le texte est centré horizontalement */
}

nav li a {
    text-decoration: none; /* Pas de soulignement pour les liens */
    font: 400 16px "Raleway", sans-serif; /* Police et taille spécifiques pour les liens */
    color: var(--black); /* Couleur de texte spécifique */
}




nav li a:hover {
    cursor: pointer; /* Curseur de la souris devient pointer au survol */
    color: var(--main-color); /* Changement de couleur au survol */
}

nav li a:hover::before {
    content: ""; /* Contenu vide pour le pseudo-élément */
    width: 0%; /* Largeur initiale de la barre de progression */
    height: 2px; /* Hauteur de la barre de progression */
    position: absolute; /* Position absolue par rapport à son conteneur */
    top: 0; /* Positionnement en haut */
    left: 0; /* Positionnement à gauche */
}

nav li a:hover::before {
    background-color: var(--main-color); /* Couleur de la barre de progression */
    width: 100%; /* La barre de progression s'étend à 100% au survol */
}

  
  




  
  /************************************** Barre de recherche  *******************************************/

  
  /* Définition du style pour le titre dans la barre de recherche */
  .search-bar__titles h1 {
    font: 700 22px "Raleway", sans-serif; /* Police en gras, taille 22px, famille de police Raleway */
    margin: 53px 0 8px 0px; /* Marge: haut 53px, bas 8px */
  }
  
  /* Définition du style pour le paragraphe dans la barre de recherche */
  .search-bar__titles p {
    font: 400 16px "Raleway", sans-serif; /* Police normale, taille 16px, famille de police Raleway */
    margin-bottom: 20px; /* Marge en bas de 20px */
  }
  
  /* Définition du style pour le formulaire */
  form {
    margin-bottom: 32px; /* Marge en bas de 32px */
  }
  
 /* Style pour le conteneur de la zone de recherche */
 .input-search {
    display: flex; /* Affichage en flexbox */
    border: 1px solid var(--grey); /* Bordure de 1px solide avec une couleur définie par une variable 'blanc' */
    width: 418px; /* Largeur de 418px */
  }
  
  /* Style pour le conteneur de la zone de recherche */
  .input-search {
    display: flex; /* Affichage en flexbox */
    border: 1px solid var(lightgrey); /* Bordure de 1px solide avec une couleur définie par une variable 'blanc' */
    width: 418px; /* Largeur de 418px */
    background-color: var(--main-bg-color); /* Couleur de fond gris clair */
    border-radius: 15px; /* Bordure complètement arrondie */
  }
  
  /* Style pour l'icône de recherche dans la zone de recherche */
  #search-bar--icon {
    fill: lightgrey; /* Couleur de remplissage en gris clair */
    width: 50px; /* Largeur de 50px */
    display: flex; /* Affichage en flexbox */
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
    border-radius: 15px 0px 0px 15px; /* Bordure arrondie à gauche */
  }
  
  
  
  
  /* Style pour le champ de saisie de la recherche */
  .input-search input {
    font: 700 18px "Raleway", sans-serif; /* Police en gras, taille 18px, famille de police Raleway */
    border: none; /* Pas de bordure */
    outline: none; /* Pas de contour */
    width: 60%; /* Largeur de 60% */
    border: none; /* Pas de bordure */
    padding-left: 17px; /* Remplissage à gauche de 17px */
  }
  
  /* Style pour le texte de l'attribut placeholder dans le champ de saisie */
  .input-search input::placeholder {
    align-self: center; /* Alignement vertical au centre */
    color: black;
  }
  
  /* Style pour le bouton de recherche */
  .search-bar--button {
    font: 700 18px "Raleway", sans-serif; /* Police en gras, taille 18px, famille de police Raleway */
    color: white; /* Couleur du texte blanc */
    background: var(--main-color); /* Couleur de fond définie par une variable 'couleur-principale' */
    padding: 14px 16px 14px 16px; /* Remplissage: haut 14px, droite 16px, bas 14px, gauche 16px */
    border: none; /* Pas de bordure */
    border-radius: 0px 15px 15px 0px; /* Bordure arrondie à droite */
  }
  
  /* Style lors du survol du bouton de recherche */
  .search-bar--button:hover {
    cursor: pointer; /* Curseur de type pointer au survol */
  }
  
  /* Style lors de l'appui sur le bouton de recherche */
  .search-bar--button:active {
    transform: translateY(1px); /* Déplacement vers le bas de 1px */
  }
  
  /* Style pour l'icône dans le bouton de recherche */
  .search-bar--button i {
    display: none; /* Ne pas afficher */
  }
  
  



  /****************************************- Filter bar -*****************************************/

  
  .filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
    gap: 16px; /* Réduit l'espace entre les filtres */
  }
  
  .filter-bar h2 {
    font: 700 18px "Raleway", sans-serif;
  }
  
  .filter-bar__btns {
    display: flex;
    align-items: center;
    gap: 20px; /* Réduit l'espace entre les boutons */
    width: 100%;
  }
  
  .filter-bar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 14px "Raleway", sans-serif; /* Réduit la taille de la police */
    border: 2px solid var(--grey);
    border-radius: 20px; /* Réduit le rayon de la bordure */
    height: 35px; /* Réduit la hauteur du bouton */
    padding: 4px 16px; /* Réduit le rembourrage */
    background-color: white; /* Bouton blanc à l'intérieur */
  }
  
  .filter-bar__btn:active {
    transform: translateY(2px); /* Décale le bouton vers le bas de 2 pixels lorsqu'il est activé */
}

  
  .filter-bar i {
    color: var(--main-color);
    font-size: 18px; /* Réduit la taille de l'icône */
    margin-right: 8px; /* Réduit l'espace entre l'icône et le texte */
  }
  
  .filter-bar__btn:hover {
    background-color: var(--light-blue); /* Change la couleur de fond au survol en utilisant la variable --light-blue */
    cursor: pointer; /* Change le curseur de la souris en une main au survol */
}

  
  
  
  
  /**************************************- Info bar -*****************************************/
  
.info-bar {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    flex-direction: row; /* Les éléments sont disposés horizontalement */
    align-items: center; /* Les éléments sont centrés verticalement */
    margin-left: 5px; /* Marge à gauche de 5 pixels */
}

.info-bar p {
    font: 400 16px "Raleway", sans-serif; /* Police et taille spécifiques pour les paragraphes */
}

.info-bar__container {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    justify-content: center; /* Les éléments sont centrés horizontalement */
    align-items: center; /* Les éléments sont centrés verticalement */
    width: 24px; /* Largeur spécifique */
    height: 24px; /* Hauteur spécifique */
    border-radius: 1000px; /* Bordure arrondie */
    border: 1px solid var(--grey); /* Bordure de couleur spécifique */
    margin-right: 11px; /* Marge à droite de 11 pixels */
}

#info-bar__icon {
    font-size: 11.75px; /* Taille de police spécifique pour l'icône */
    color: var(--main-color); /* Couleur spécifique pour l'icône */
    text-align: center; /* Le texte est centré horizontalement */
}

.offers {
    margin: 0 50px 60px 50px; /* Marge extérieure spécifique */
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
}

.offers h2 {
    font: 700 22px "Raleway", sans-serif; /* Police et taille spécifiques pour les titres */
}

  
  
  
  
  
  
  /***********************************- Hébergements à Marseille -*****************************************/
  
  
  .offers__main {
    width: calc((2 * (100% - 40px)) / 3); /* Deux tiers de l'espace total moins 40px d'espacement */
    padding: 34px 44px 46px 36px; /* Rembourrage spécifique */
    background-color: var(--main-bg-color); /* Couleur de fond spécifique */
    border-radius: 20px; /* Bordure arrondie */
    padding: 30px; /* Rembourrage spécifique */
    box-sizing: border-box; /* Inclure le rembourrage dans le calcul de la largeur */
}

.offers__main h2 {
    margin-bottom: 23px; /* Marge inférieure spécifique */
}

.card__main {
    width: calc(100% / 3); /* Largeur égale à un tiers de l'espace total */
    border: 5px solid #ffffff; /* Bordure de 5 pixels solide blanche */
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); /* Ombre de boîte avec des paramètres spécifiques */
    border-radius: 20px; /* Bordure arrondie */
    cursor: pointer; /* Curseur de la souris devient pointer */
    transition: all 0.2s ease-in-out; /* Ajout d'une transition pour un effet plus doux */
}

.card__main a {
    color: var(--black); /* Couleur de texte spécifique */
    text-decoration: none; /* Pas de soulignement pour les liens */
    cursor: pointer; /* Curseur de la souris devient pointer */
}

.card__main img {
    width: 100%; /* Largeur de l'image à 100% */
    border-radius: 20px 20px 0px 0px; /* Coins arrondis spécifiques */
    height: 124px; /* Hauteur spécifique */
    object-fit: cover; /* Ajustement de l'objet pour couvrir */
}

.card__main h3 {
    font: 700 16px "Raleway", sans-serif; /* Police et taille spécifiques pour les titres */
}

.card__main p {
    font: 400 14px "Raleway", sans-serif; /* Police et taille spécifiques pour les paragraphes */
}

.stars__container--main i {
    color: var(--main-color); /* Couleur d'étoile spécifique */
    margin: -2px; /* Marge spécifique */
    font-size: 14px; /* Taille de police spécifique */
}

.card__description--main {
    padding: 4px 0 6px 11px; /* Rembourrage spécifique */
}

.card__description--main > h3,
.card__description--main > p {
    margin-bottom: 9px; /* Marge inférieure spécifique */
}

.card__main:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3); /* Ombre de boîte au survol */
}

.card__main:active {
    transform: translateY(2px); /* Déplacer la carte de 2 pixels vers le bas lorsqu'elle est activée */
}

.show-more__btn {
    font: 700 18px "Raleway", sans-serif; /* Police et taille spécifiques pour le bouton */
    margin-top: 40px; /* Marge supérieure spécifique */
    margin-left: 4px; /* Marge à gauche spécifique */
    padding: 0; /* Pas de rembourrage */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur de la souris devient pointer */
}

.show-more__btn:hover {
    color: var(--main-color); /* Couleur de texte au survol spécifique */
    background-color: white; /* Couleur de fond au survol spécifique */
}

.first-row,
.second-row {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    flex-direction: row; /* Les éléments sont disposés horizontalement */
}

.first-row {
    margin-bottom: 30px; /* Marge inférieure spécifique */
}

.card__main:nth-child(n + 1):nth-child(-n + 2) {
    margin-right: 31px; /* Marge à droite spécifique pour les deux premières cartes */
}






  /***********************************- Les plus populaires -***************************************/
  
  .offers__spensored {
    width: calc((100% - 40px) / 3); /* Un tiers de l'espace total moins 40px d'espacement */
    margin-left: 40px; /* Marge à gauche spécifique */
    padding: 41px 40px 1px 37px; /* Rembourrage spécifique */
    background-color: var(--main-bg-color); /* Couleur de fond spécifique */
    border-radius: 20px; /* Bordure arrondie */
    padding: 30px; /* Rembourrage spécifique */
    box-sizing: border-box; /* Inclure le rembourrage dans le calcul de la largeur */
}

.card__spensored--container {
    display: flex; /* Utilisation de flexbox pour aligner les éléments verticalement */
    flex-direction: column; /* Les éléments sont disposés en colonne */
}

.offers__spensored h2 {
    margin-bottom: 26px; /* Marge inférieure spécifique */
}

.offers__spensored-title {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    flex-direction: row; /* Les éléments sont disposés horizontalement */
    justify-content: space-between; /* Espace égal entre les éléments */
    align-items: baseline; /* Les éléments sont alignés en fonction de leur ligne de base */
}

.offers__spensored-title i {
    color: var(--main-color); /* Couleur spécifique pour l'icône */
    font-size: 18px; /* Taille de police spécifique */
}

.card__spensored {
    border-radius: 20px; /* Bordure arrondie */
    border: 5px solid #ffffff; /* Bordure de 5 pixels solide blanche */
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); /* Ombre de boîte avec des paramètres spécifiques */
}

.card__spensored:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3); /* Ombre de boîte au survol */
}

.card__spensored:active {
    transform: translateY(2px); /* Déplacer la carte de 2 pixels vers le bas lorsqu'elle est activée */
}

.card__spensored a {
    text-decoration: none; /* Pas de soulignement pour les liens */
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    flex-direction: row; /* Les éléments sont disposés horizontalement */
}

.card__spensored img {
    height: 144px; /* Hauteur spécifique pour l'image */
    width: 36%; /* Largeur spécifique pour l'image */
    border-radius: 20px 0px 0px 20px; /* Coins arrondis spécifiques */
    object-fit: cover; /* Ajustement de l'objet pour couvrir */
}

.card__description--spensored {
    padding: 16px 22px 10px 15px; /* Rembourrage spécifique */
    display: flex; /* Utilisation de flexbox pour aligner les éléments verticalement */
    flex-direction: column; /* Les éléments sont disposés en colonne */
    flex-wrap: wrap; /* Les éléments peuvent se répartir sur plusieurs lignes */
    justify-content: space-between; /* Espace égal entre les éléments */
    color: var(--black); /* Couleur de texte spécifique */
}

.card__spensored:nth-child(n + 1) {
    margin-bottom: 33px; /* Marge inférieure spécifique */
}

.card__description--spensored h3 {
    font: 700 16px "Raleway", sans-serif; /* Police et taille spécifiques pour les titres */
    margin-bottom: 7px; /* Marge inférieure spécifique */
}

.card__description--spensored p {
    font: 400 14px "Raleway", sans-serif; /* Police et taille spécifiques pour les paragraphes */
}

.stars__container--spensored i {
    color: var(--main-color); /* Couleur d'étoile spécifique */
    margin: -2px; /* Marge spécifique */
    font-size: 14px; /* Taille de police spécifique */
}

  
  
  /***************************************- ACTIVITIES SECTION -***************************************/
  
  .activities {
    margin: 60px 53px 61px 50px; /* Marge spécifique */
}

.activities h2 {
    font: 700 22px "Raleway", sans-serif; /* Police et taille spécifiques pour les titres */
    margin-bottom: 18.47px; /* Marge inférieure spécifique */
}

.card__activity {
    width: 100%; /* Largeur de l'image à 100% */
    border-radius: 20px; /* Bordure arrondie */
    object-fit: cover; /* évite la déformation des images */
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); /* Ombre de boîte avec des paramètres spécifiques */
}

.card__activity:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3); /* Ombre de boîte au survol */
    transform: translateY(2px); /* Déplacer la carte de 2 pixels vers le bas lorsqu'elle est survolée */
}

.card__activity a {
    text-decoration: none; /* Pas de soulignement pour les liens */
    color: var(--black); /* Couleur de texte spécifique */
}

.activities img {
    width: 100%; /* Largeur de l'image à 100% */
    height: 389px; /* Hauteur spécifique pour l'image */
    border-radius: 20px 20px 0px 0px; /* Coins arrondis spécifiques */
    object-fit: cover; /* évite la déformation des images */
}

.card__description--activity h3 {
    font: 700 16px "Raleway", sans-serif; /* Police et taille spécifiques pour les titres */
    padding: 20px 36px 21px 19px; /* Rembourrage spécifique */
}

.activities-row {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    flex-direction: row; /* Les éléments sont disposés horizontalement */
}

.card__activity:nth-child(-n + 3) {
    margin-right: 35px; /* Marge à droite spécifique pour les trois premières cartes */
}







  
  /***********************************- FOOTER SECTION -****************************************/


  
 /*- Footer -*/
footer {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    padding: 45px 0px 24px 118px; /* Rembourrage spécifique */
    margin-bottom: 0px; /* Marge inférieure spécifique */
    background-color: var(--main-bg-color); /* Couleur de fond spécifique */
    border-radius: 0px; /* Bordure sans arrondi */
    padding: 40px; /* Rembourrage spécifique */
    box-sizing: border-box; /* Inclure le rembourrage dans le calcul de la largeur */
}

footer h3 {
    font: 700 18px "Raleway", sans-serif; /* Police et taille spécifiques pour les titres */
    margin-bottom: 20px; /* Marge inférieure spécifique */
}

.footer__column:nth-child(-n + 2) {
    width: 35%; /* Largeur de la colonne spécifique pour les deux premières colonnes */
}

.link-list li:nth-child(-n + 2) {
    margin-bottom: 15px; /* Marge inférieure spécifique pour les deux premiers éléments de liste */
}

.link-list a {
    text-decoration: none; /* Pas de soulignement pour les liens */
    color: var(--black); /* Couleur de texte spécifique */
    font: 400 15px "Raleway", sans-serif; /* Police et taille spécifiques pour les liens */
}

.link-list a:hover {
    text-decoration: underline; /* Soulignement des liens au survol */
}

  





/******************************- MEDIA QUERIES SECTION -*************************************/


/*----------  Tablettes  ----------*/
  
@media (min-width: 768px) and (max-width: 992px) {
    /*----------  Header  ----------*/
  
    header {
      margin: 0px 30px 37px 30px;
    }
  
    .input-search input {
      font-size: 16px;
    }
  
    .filter-bar__btns {
      gap: 10px;
    }
  
    .filter-bar__btn {
      padding: 4px 16px;
      font-size: 15px;
    }
  
    .filter-bar {
      gap: 10px;
    }


  
   /*----------  Hébergements  ----------*/
  
   .offers {
    flex-wrap: wrap;
    margin: 20px;
  }

  .offers__main,

  .offers__spensored {
    width: 100%;
    margin: 0;
    padding: 40px 5px;
  }

  .offers__main {
    margin-bottom: 40px; /* Ajout de marge en bas de offers__main */
  }
  
  .offers__sponsored {
    margin-top: 40px; /* Ajout de marge en haut de offers__sponsored */
  }

  .card__spensored--container{
    display: flex;
    flex-direction: row;
  }

  .card__spensored img {
    width: 30%;
  }
  

.card__description--spensored {
  padding: 5px 20px 0px 10px;

}

  .card__spensored:nth-child(-n + 2) {
    margin-right: 23px;
  }

  .card__spensored:nth-child(-n + 3) {
    flex: 1;
  }

  .card__description--spensored h3 {
    font-size: 14px;
  }

  .card__description--spensored p {
    font-size: 13px;
  }

  /*----------  Activités  ----------*/

  .card__activity:nth-child(-n + 3) {
    margin-right: 20px;
  }
  .activities img {
    height: 150px;
  }
  .activities h2 {
    margin-bottom: 34px;
  }
}        
  



   
/*----------  Téléphone mobile  ----------*/
  
@media (max-width: 768px) {
    /*----------  Header  ----------*/
  
    header {
      margin: 0px;
    }
    nav {
      flex-direction: column;
      align-items: center;
    }
  
    .nav__logo {
      margin-top: 21px;
      margin-bottom: 38px;
    }
  
    nav ul {
      width: 100%;
      height: 50px;
    }
  
    nav ul li {
      width: 50%;
    }
  
    nav li a:hover::before {
      top: 100%;
    }
  
    .search-bar__container {
      margin: 0px 20px;
    }
  
    .search-bar--button i {
      display: block;
    }
  
    .search-bar--button span {
      display: none;
    }
  
    .input-search {
      width: 100%;
    }
  
    .input-search input {
      font-size: 16px;
      width: 100%;
    }
    /*----------  Filter bar  ----------*/
  
    .filter-bar {
      margin-top: 34px;
      gap: 15px;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .filter-bar__btns{
      flex-wrap: wrap;
      row-gap: 20px;
      column-gap: 3%;
      padding: 0;
    }
  
    .filter-bar__btn{
      flex: 1 1 47%;
      font-size: 14px;
      justify-content: flex-start;
      padding: 4px 16px;
    }
  
    
    /*----------  Hébergements  ----------*/
    
    .offers {
      flex-direction: column-reverse;
      margin: 0 20px;
    }
  
    .offers__spensored{
      width: 100%;
      margin: 80px 0;
      padding: 0;
    }
  
    .offers__main{
      width: 100%;
      padding: 0;
    }
  
    .first-row , .second-row{
      flex-direction: column;
      gap: 30px;
    }
  
    .card__main{
      width: 100%;
    }
  
    
    /*----------  Activités à marseille  ----------*/
    
    .activities{
      margin: 80px 20px 0 20px;
    }
    .activities-row {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .card__activity{
      width: 100%;
      height:190px ;
    }
  
    .activities img{
      height: 124px;
    }
  
    
    /*----------  Footer  ----------*/
    
    footer{
      flex-direction: column;
      padding: 0;
      margin: 80px 20px;
      gap: 30px;
    }
  
    .footer__column:nth-child(-n + 2){
      width: 100%;
    }
  
    
  
    
  

/*----------  Desktop Large  ----------*/

  @media screen and (min-width: 1440px) {
    body {
      margin: 0 auto;
      max-width: 1500px;
    }
  
  
  
  /*End of Media queries section*/


   


